body{
background: #6baed6;
font-family: Futura;
font-weight: normal;
margin: 0px;
}

input{
background: #F2F2F2;
border-radius: 5px;
border: 0px;
padding: 5px 10px 5px 10px;
margin: 5px;
margin-left: 0px;
font-size: 14px;
font-family: Futura;
width: auto;
}

#content{
width: 100%;
}

#header{
width: 100%;
text-align: center;
padding: 10px;
color: #FFF;
opacity: 0.9;
margin: 0px;
}

.voteHeader{
margin-bottom: 20px;
text-align: center;
font-size: 14px;
}

.voteButton{
background: #3182bd;
color: #FFFFFF;
padding: 5px 10px 5px 10px;
margin: 5px;
margin-right: 20px;
font-family: Futura;
border: 0px;
border-radius: 5px;
font-size: 14px;
width: 40px;
}

.addButton{
background: #74c476;
color: #FFF;
padding: 5px;
margin: 5px;
margin-right: 10px;
font-family: Futura;
border: 0px;
border-radius: 5px;
font-size: 14px;
width: 40px;
}

.removeButton{
background: #FFF;
color: #000;
padding: 0px;
font-family: Futura;
border: 0px;
border-radius: 5px;
font-size: 14px;
width: 40px;
margin-right: 0px;
}

.addButton:focus, .voteButton:focus, input:focus, .removeButton:focus{
outline: none;
}

.addButton:hover, .voteButton:hover, .removeButton:hover{
opacity: 0.8;
}

.entry{
width: 100%;
border-bottom: #f2f2f2 1px solid;
display: block;
}

.labelCol{
display: inline-block;
width: 80%;
}

.trashCol{
width: 20%;
display: inline-block;
text-align: right
}

.voteHeader{
margin-bottom: 20px;
text-align: center;
font-size: 14px;
}

.data{
width: 80%;
min-width: 500px;
margin: auto;
display: flex;
}

.leftColumn{
text-align: center;
min-width: 540px;
width: 60%;
vertical-align: top;
display: inline-block;
}

.rightColumn{
display: inline-block;
width: 40%;
min-width: 310px;
vertical-align: top;
}

.background{
margin: 10px;
padding: 20px;
background: #FFF;
border-radius: 5px;
border: 0px;
}