body{
background: #6baed6;
font-family: Futura;
font-weight: normal;
margin: 0px;
}

h1{
font-family: Futura;
font-weight: normal;
}

input{
background: #F2F2F2;
border-radius: 5px;
border: 0px;
padding: 5px;
margin: 5px;
margin-left: 0px;
font-size: 14px;
font-family: Futura;
}

.voteButton{
background: #3182bd;
color: #FFFFFF;
padding: 5px;
margin: 5px;
font-family: Futura;
border: 0px;
border-radius: 5px;
font-size: 14px;
width: 40px;
}

.addButton{
background: #74c476;
color: #FFFFFF;
padding: 5px;
margin: 5px;
font-family: Futura;
border: 0px;
border-radius: 5px;
font-size: 14px;
width: 40px;
}

.addButton:focus, .voteButton:focus, input:focus{
outline: none;
}

.addButton:hover, .voteButton:hover{
opacity: 0.9;
}

.header{
text-align: center;
padding: 10px;
color: #FFF;
opacity: 0.9;
margin: 0px;}

.voteHeader{
margin-bottom: 20px;
text-transform: bold;
}

.content{
width: 100%;
}

.data{
width: 80%;
min-width: 500px;
margin: auto;
display: flex;
}

.leftColumn{
text-align: center;
min-width: 440px;
width: 50%;
vertical-align: top;
display: inline-block;
}

.rightColumn{
display: inline-block;
width: 50%;
min-width: 300px;
vertical-align: top;
}

.background{
margin: 10px;
padding: 20px;
background: #FFF;
border-radius: 5px;
border: 0px;
}

.left{
text-align: center;
width: fixed;
}

.right{
text-align: left
padding-bottom: 20px;
}